body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #1C1C1C;
    color: #FFD700;
}




.results-container {    
    /* margin-left: 50px; */
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}

.item {
    height: 450px;
    background-color: #FFD700;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #E50914;

}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.item img:hover {
    transform: scale(1.1);
}

.both p {
    /* padding: 10px; */
    font-size: 20px;
    font-weight: 700;
    color: #FFD700;
}

.info {
    margin-left: 10px;
}

.info a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
}

.info a:hover {
    text-decoration: 1.5px underline #E50914;
    text-underline-offset: 5px;
}

.both button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #E50914;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* margin-top: 10px; */
    margin-left: 10px;
    transition: 0.6s;
}

.both button:hover {
    background-color: #FFD700;
    color: #1C1C1C;
}

/* back button */
.go-back {
    top: 90px;
    margin-left: 50px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #E50914;
    color: #FFD700;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
}
.go-back:hover {
    background-color: #FFD700;
    color: #1C1C1C;
}