/* 
    colors
        #FFD700 > yellow
        #1C1C1C > black
        #DC143C > red
        #E50914 > red
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1ce7;
    color: white;
}

header {
    background-image: linear-gradient(#1c1c1c9f), url(assets/pexels-brunomassao-2335048.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

#navbar{
    display: flex;
    padding-top: 50px;
    width: 100vw;
    padding-left: 70px;
    align-items: center;
    z-index: 1; 
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    transition: background-color 0.5s ease;
}

#navbar.scrolled {
    background-color: #1c1c1ce1;
    transition: background-color 0.5s ease;
    padding: 40px;
}


.logo a{
    text-decoration: none;
    color: #FFD700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.logo span {
    color: #E50914;
}

.nav {
    margin-left: 200px;
    list-style: none;
    display: flex;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 30px;
    font-size: 18px;
    transition: 0.6s;
}

.nav a:hover {
    text-decoration: 1px underline #FFD700;
    text-underline-offset: 10px;
}

.nav span {
    color: #FFD700;
    padding-left: 50px;
    font-weight: 800;
}

/* Hero */
.hero {
    color: white;
    text-align: center;
    margin-top: 300px;
}

.hero h2 {
    font-size: 50px;
    font-weight: 900;
    transition: 0.6s;
}

.hero h2 span {
    color: #FFD700;
}

.hero h2:hover {
    color: #FFD700;
}

.hero p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
}

.hero input {
    width: 400px;
    height: 40px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
}

.hero button {
    width: 100px;
    height: 44px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #E50914;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.6s;
}

.hero button:hover {
    background-color: #FFD700;
    color: #1C1C1C;
}

/* Trending */
.trending {
    background-color: rgba(128, 128, 128, 0.106);
    width: 90vw;
    margin: 50px auto;
    height: 110vh;
    padding: 20px;
    border-radius: 50px;
    color: white;
    margin-top: 800px;
}

.trending h2 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 50px;
    font-weight: 800;
    color: #FFD700;
}

.movies-container {
    margin-top: 70px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    width: 350px;
    height: 450px;
    background-color: #FFD700;
    border-radius: 10px;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.item img:hover {
    transform: scale(1.1);
}

.both p {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.info {
    margin-left: 10px;
}

.info a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.info a:hover {
    text-decoration: 1.5px underline #E50914;
    text-underline-offset: 5px;
}

.both button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #E50914;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.6s;
}

.both button:hover {
    background-color: #FFD700;
    color: #1C1C1C;
}

/* Preview Section */

.preview {
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.preview-top {
    padding-top: 50px;
    margin-left: 130px;
    font-size: 50px;
    font-weight: 800;
    color: #FFD700;

}

.slides{
    width: 300vw;
    margin-top: 30px;
    display: flex;
    padding-bottom: 20px;
}

.slide {
    width: 100vw;
    margin: 50px auto;
    margin-top: -5px;
    height: 60vh;
    padding: 40px;
    color: white;
    display: flex;
    justify-content: center ;
}

.movie-poster {
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

.movie-poster video {
    width: 550px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 20px;  
    box-shadow: -4px 7px 25px #1C1C1C;
}   

.movie-details {
    margin-left: 40px;
    width: 50vw;
}

.movie-details h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.movie-details p {
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

.movie-details .info {
    font-size: 18px;
    margin-left: -3px;
    margin-top: 10px;
}

.movie-details span {
    padding-top: 10px;
    font-weight: 700;
    color: #FFD700;
    cursor: pointer;
}

.movie-details button {
    width: 120px;
    height: 44px;
    border: none;
    border-radius: 5px;
    background-color: #E50914;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.6s;
}     

.movie-details button:hover {
    background-color: #FFD700;
    color: #1C1C1C;
}



